extends layout

block content
  h1= titulo
  table(border='1')
    each articulo in articulos
      tr
        td #{articulo.codigo}
        td #{articulo.descripcion}
        td $#{articulo.precio}
  p Descuentos vigentes el día lunes: #{descuento.lunes}
  p Descuentos vigentes el día martes: #{descuento.martes}